/* font-family: "Montserrat", sans-serif; */
/* font-family: "Bebas Neue", sans-serif; */
/* font-family: 'Source Sans Pro'; */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: linear-gradient(135deg, #cfcbf3, #493a94);
}
/* Header */
.header{
  display: flex;
  width: 100%;
  height: 8vh;
  background-color: #ffffff;
}
.logo-header{
  display: flex;
  align-items: center;
  width: 50%;
  ul{
    display: flex;
  }
  li{
    list-style: none;
  }
  a{
    text-decoration: none;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.6rem;
    margin-left: 1rem;
    color: #333;
  }
}
.img-logo-header{
  width: 3rem;
  height: 3rem;
  align-content: center;
  border-radius: 50px;
  margin-left: 1.5rem; 
  background: #0062b9;
}
.nome-logo-header{
  align-items: center;
}
.nav-header{
  align-items: center;
  display: flex;
  justify-content: end;
  width: 50%;
  ul{
   display: flex;
  }
  li{
   list-style: none;
  }
  a{
   text-decoration: none;
   font-family: 'Source Sans Pro';
   font-weight: bold;
   text-transform: uppercase;
   font-size: 1.6rem;
   padding: 2.2rem 3rem;
   color: #333;
  }
}
/* Home */
.home{
  height:95vh;
}
.home-entrada{
  margin-left: 5%;
}
.wave {
  animation-name: wave-animation; 
  animation-duration: 2.1s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
  }
  
  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    }
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    } 
    100% {
      transform: rotate(0deg);
    }
  }
.nome-home-entrada{
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  margin-top: 10%;
  color: #ffffff;
}
.nome-home{
  display: flex;
  color: #ffffff;
}
.nomeprincipal-home{
  color: rgb(68, 68, 201);
  margin-left: 1rem;
}
.brief-home{
  width: 40%;
  height:25vh;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  p{
    word-break: normal;
    color: #ffffff;
  }
    
}
.sobre{
  display: flex;
}
.sobre-home{
  width: 14%;
  height: 6vh;
  border-radius: 3rem;
  background-color: #ffffff4f;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  a{
    color: #333;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
  } 
}
.sobre-home:hover{
  background-color: #493a948c;
  transition: 0.5s;
  a{
    color: #ffffff;
  }
}
.sociais
{
  display: flex;
  align-items: center;
  width: 100%; 
  margin-left: 5%; 
  i{
    color: #ffffff;
    margin-right: 2rem;
  }
  a{
    text-decoration: none;
  }
}