/* font-family: "Montserrat", sans-serif; */
/* font-family: "Bebas Neue", sans-serif; */
/* font-family: 'Source Sans Pro'; */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: linear-gradient(135deg, #cfcbf3, #493a94);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
}
/* Header */
.header{
  display: flex;
  width: 100%;
  height: 8vh;
  background-color: #ffffff;
}
.logo-header{
  display: flex;
  align-items: center;
  width: 50%;
  ul{
    display: flex;
  }
  li{
    list-style: none;
  }
  a{
    text-decoration: none;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.6rem;
    margin-left: 1rem;
    color: #333;
  }
}
.img-logo-header{
  width: 3rem;
  height: 3rem;
  align-content: center;
  border-radius: 50px;
  margin-left: 1.5rem; 
  background: #9884bd;
}
.nome-logo-header{
  align-items: center;
}
.nome-logo-header:hover{
  color: #493a94;
}
.nav-header{
  align-items: center;
  display: flex;
  justify-content: end;
  width: 50%;
  ul{
   display: flex;
  }
  li{
   list-style: none;
  }
  a{
   text-decoration: none;
   font-family: 'Source Sans Pro';
   font-weight: bold;
   text-transform: uppercase;
   font-size: 1.6rem;
   padding: 2.2rem 3rem;
   color: #333;
  }
}
#sobre-header:hover{
  color: #493a94;
}
#projetos-header:hover{
  color: #493a94;
}
#contato-header:hover{
  color: #493a94;
}

/* Home */
.home{
  height:95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.home-entrada{
  margin-left: 16%;
  width: 50%;
}
.wave {
  animation-name: wave-animation; 
  animation-duration: 2.1s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
  }
  
  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    }
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    } 
    100% {
      transform: rotate(0deg);
    }
  }
.nome-home-entrada{
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  margin-top: 2vh;
  color: #ffffff;
}
.nome-home{
  display: flex;
  color: #ffffff;
}
.nomeprincipal-home{
  color: rgb(68, 68, 201);
  margin-left: 1rem;
}
.brief-home{
  width: 80%;
  height:25vh;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  p{
    word-break: normal;
    color: #ffffff;
  }
    
}
.sobre{
  display: flex;
  margin-top: 3%;
}
.sobre-home{
  width: 30%;
  height: 6vh;
  border-radius: 3rem;
  background-color: #ffffff4f;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  a{
    color: #fffcfc;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
  } 
}
.sobre-home:hover{
  background-color: #493a948c;
  transition: 0.5s;
  a{
    color: #ffffff;
  }
}
.sociais
{
  display: flex;
  align-items: center;
  width: 100%; 
  margin-left: 5%; 
  i{
    color: #ffffff;
    margin-right: 2rem;
  }
  a{
    text-decoration: none;
  }
}
#email:hover{
  color: #493a94;
  transition: 0.5s;
}
#github:hover{
  color: #493a94;
  transition: 0.5s;
}
#whatsapp:hover{
  color: #493a94;
  transition: 0.5s;
}
.img-home-main{
  align-items: center;
  width: 50%;
  align-items: center;
}
.img-home{
  width: 32rem;
  height: 32rem;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
/* Sobre*/
#sobre{
  h1{
    display: flex;
    align-content: center;
    justify-content: center;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.8rem;
  }
}
.tela-sobre{
  width: 100%;
  height: 100vh;
  display: flex;
}
.foto-sobre{
  width: 50%;
  img{
    margin-left: 25%;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 50%;
    height: 70%
  }
}
.texto-sobre{
  width: 50%;
  margin-top: 2%;
  p{  
    width: 90%;
    word-break: normal;
    color: #ffffff;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
  }
  ul{
    margin-left: 5%;
    width: 82%;
  }
  li{
    word-break: normal;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    color: #ffffff;
  }
  h1{
    word-break: normal;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-content: center;
  }
}
.tecnologias{
  display: flex;
  padding: 1.5rem;
  justify-content: center;
  align-content: center;
}
.tecnologias2{
  display: flex;
  justify-content: center;
  align-content: center;
}

#html-logo{
  width: 80%;
  height: 10vh;
}
#css-logo{
  width: 80%;
  height: 10vh;
}
#javascript-logo{
  width: 80%;
  height: 10vh;
  margin-top: 1rem;
  border-radius: 1.1rem;
}
#php-logo{
  width: 80%;
  height: 12vh;
}
#python-logo{
  width: 55%;
  height: 8vh;
  margin-top: 1rem;
}
#azure-logo{
  width: 50%;
  height: 10vh;
}
#git-logo{
  width: 50%;
  height: 10vh;
}
.tec-logos{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 15%;
  height: 14vh;
  border: 0.5px solid #3333335e;
  border-color: #333;
  border-radius: 0.5rem;
  margin-left: 3vh;
}
.tec-logos2{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 15%;
  height: 14vh;
  border: 0.5px solid #3333335e;
  border-color: #333;
  border-radius: 0.5rem;
  margin-left: 3vh;
}

/* Projetos */
#projetos{
  h1{
    display: flex;
    align-content: center;
    justify-content: center;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.8rem;
  }
}
.tela-projetos{
  width: 100%;
  height: 100vh;
}
.eachprojeto{
  display: flex;
  width: 100%;
  padding-bottom: 2rem;
}
.eachprojeto2{
  display: flex;
  width: 100%;
  padding-bottom: 2rem;
}
.imagem-projeto{
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
  img{
    width: 70%;
  }
}
.texto-projeto{
  width: 50%;
  margin-top: 4%;
  h2{
    width: 70%;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.6rem;
  }
  p{
    font-family: "Montserrat", sans-serif;
    width: 70%;
    font-weight: 500;
    font-size: 1.2rem;
    word-break: normal;
    color: #ffffff;
  }
}
.botao-versite{
  width: 70%;
  padding-top: 2% ;
  display: flex;
  justify-content: center;
  align-items: center;
  a{
    width: 20%;
    background-color: #a99ee2cb;
    border-radius: 2rem;
    text-decoration: none;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.6rem;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
  }
}
.botao-versite:hover{
  a{
    background-color: #493a948c;
    transition: 0.5s;
  }
}
/* Contato */
#contato{
  h1{
    display: flex;
    align-content: center;
    justify-content: center;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.8rem;
  }
}
.tela-contato{
  width: 100%;
  height: 100vh;
  display: flex;
}
.form-contato{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.form-contato-container{
  width: 40%;
  height: 80vh;
  background-color: #291a3649;
  border-radius: 2rem;
  font-family: 'Source Sans Pro', sans-serif; 
  padding: 4rem;
  margin-top: 4rem;
  backdrop-filter: blur(20px);
}
.form-contato-conteudo{
  padding: 1rem;
  justify-content: center;
  align-items: center;
  label{
    font-size: 1.5rem;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif; 
  }
} 
.input_box{
  margin-bottom: 2%;
  background-color: rgba(240, 232, 232, 0.842);
  position: relative;
  border-radius: 15px;
  width: 100%;
  height: fit-content;
  display: flex;
  transition: ease 0.15s;
  input{
    justify-content: right;
    border-radius: 15px;
    width: 100%;
    padding: 4%;
    height: 100%;
    background-color: transparent;
    border: 1px solid transparent;
    font-family:"Montserrat", sans-serif;
    font-size: 1rem;
    color: #000000;
    outline: none;

  }
  textarea{
    width: 100%;
    padding: 4%;
    justify-content: left;
    border-radius: 15px;
    border: 1px solid transparent;
    background-color: transparent; 
    font-family:"Montserrat", sans-serif;
    color: #000000;
    font-size: 1rem;
    outline: none;
  }
}
.botao-enviar-form-contato{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  button{
    background-color: transparent;
    border-color: transparent;
    font-family:"Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    width: 30%;
    height: 6vh;
    background-color: #9884bd; 
    border-radius: 2rem;
  }
}
.botao-enviar-form-contato:hover{
  button{
    color: #ffffff;
    background-color: #8c7dd5;
    transition: 0.5s;
  }
}



/* Footer */
.footer {
  background-color: #ffffff30;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}
.social-icons {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-self: center;
  justify-items: center;
  margin-left: 120px;
  a{
    color: #ffffff;
    font-size: 1.5rem;
    margin: 0 10px;
    transition: color 0.3s ease;
  }
}
.col-md-6 {
  display: flex;
}
