body {
    background-image: url(../backgrounds/backgroundchamasok3.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: left;
}

nav {
    margin-left: 310px;
}

ul {
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
    padding-right: 60px;
}

.menu a {
    text-decoration: none;
    font-size: 1.7rem;
    font-family: "Bebas Neue", sans-serif;
    color: black;
}

a:hover {
    color: #b61a2b;
}

img {
    justify-content: start;
    margin-top: 10px;
    margin-left: 15px;
    width: 400px;
    cursor: pointer;
}